.App-header {
  background-color: #36454F;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight : bold;
}
.Search {
  margin: 100px auto;
  width: 300px;
  border-radius: 2px;
  background-color: ghostwhite;
}

.temperature {
  margin-top: 100px;
  text-align: center;
  font-size: xxx-large;
}

hr {
  width: 30px;
}

img {  
  margin: auto;
  display: block;
}

.description {
  text-align: center;
  font-size: x-large;
}
